@mixin hingeRight_keyframes {
    @at-root {
        @include keyframes(hingeRight) {
            0% {
                @include transform(rotate(0));
                @include transform-origin(top right);
                animation-timing-function : ease-in-out;
            }
            20%, 60% {
                @include transform(rotate(-80deg));
                @include transform-origin(top right);
                animation-timing-function : ease-in-out;
            }
            40% {
                @include transform(rotate(-60deg));
                @include transform-origin(top right);
                animation-timing-function : ease-in-out;
            }
            80% {
                @include transform(rotate(-60deg) translateY(0));
                opacity                   : 1;
                @include transform-origin(top right);
                animation-timing-function : ease-in-out;
            }
            100% {
                @include transform(translateY(700px));
                opacity : 0;
            }
        }
    }
}
@mixin hingeRight($duration : $global-animation-duration, $function : $global-animation-timing-function, $delay : $global-animation-delay, $count : $global-animation-iteration-count, $fill : $global-animation-fill-mode, $visibility : $global-animation-visibility) {
    @include animation(hingeRight $duration $function $delay $count $fill);
    @include visibility($visibility);
}